.animating1
{
    animation: moving 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animating2
{
    animation: ping 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animating3
{
    animation: moving 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes moving{
    50% 
    {
        opacity: 0.6;
        width: 7rem;
        height: 7rem;
        transform: translateX(70px);   
    }
    100%
    {
        transform: translateX(0px);
    }
}
@keyframes ping{
    50% 
    {
        opacity: 0.6;
        background: rgb(172, 3, 96);
        transform: translateX(-170px);  
    }
    100%
    {
        transform: translateX(0px);
    }
}
@keyframes sliding
{
    0%
    {
        right: -10%;
        opacity: 0;
    }
    100%
    {
        right: 0%;
        opacity: 1;
    }
}
@media only screen and (max-width:767px) 
{
    @keyframes ping{
        50% 
        {
            opacity: 0.6;
            background: rgb(172, 3, 96);
            transform: translateX(-80px);  
        }
        100%
        {
            transform: translateX(0px);
        }
    }
    #menu
    {
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(10px);
    }
}
@media only screen and (max-width:350px)
{
    .width-350
    {
        width: 90vw;
    }
}